@import url('base.css');
@import url('https://cdn.jsdelivr.net/npm/bootstrap-icons@1.12.1/font/bootstrap-icons.min.css');


.titulo-tabelas {
    font-family: "Trebuchet MS";
    color: #ffffff;
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    padding: 0 2rem;

    display: block;      
    margin: 0 auto;       
      margin-bottom: 40px;
}

.badge-status {
    padding: 6px 12px;
    font-size: 0.8rem;
    border-radius: 5px;
    color: #fff;
}

.badge-aprovado { background: #28a745; }
.badge-reprovado { background: #dc3545; }
.badge-analise   { background: #0d6efd; }

.btn-ver {
    background: #4d287c !important;
    color: #fff !important;
    border-radius: 5px;
    padding: 6px 14px;
    font-size: 12px;
    transition: .3s;
}

.btn-ver:hover {
    background: #9d00ff !important;
    transform: scale(1.05);
}

.btn-administracao {
    background: #4d287c !important;
    color: #fff !important;
    border-radius: 5px;
    padding: 9px 16px;
    font-size: 14px;
    transition: .3s;
}

.btn-administracao:hover {
    background: #9d00ff !important;
    transform: scale(1.05);
}
