@import url('https://fonts.googleapis.com/css2?family=Caprasimo&family=Domine:wght@400..700&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.12.1/font/bootstrap-icons.min.css");


html,
body {
  background: #000;
  color: #fff;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}


.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  border-bottom: 2px solid #53017F;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.navbar .logo {
  font-size: 2rem;
  font-weight: bold;
  font-family: 'Segoe UI', cursive;
  background: linear-gradient(90deg, #53017F, #893ECB);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}


.main-nav {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 25px;
  margin-left: auto;
}

.main-nav li a {
  font-size: 17.5px;
  font-family: "Trebuchet MS";
  color: #fff !important;
  text-decoration: none;
  transition: color 0.3s ease;
}

.main-nav li a:hover {
  color: #fff !important;
}

.main-nav li a.active {
  color: #893ECB !important;
  font-weight: bold;
}

.nav-link,
.dropdown-toggle {
  color: inherit !important;
  background: transparent !important;
}

.dropdown-menu {
  background: #ffffff !important;
  border: 2px solid #893ECB !important;
  border-radius: 10px !important;
  padding: 8px 0 !important;
}

.navbar .dropdown-menu .dropdown-item {
  color: #000 !important;
  font-size: 16px;
  padding: 10px 18px !important;
}

.navbar .dropdown-menu .dropdown-item:hover {
  background: #893ECB !important;
  color: #ffffff !important;
}

.navbar .dropdown-menu .dropdown-item.active {
  background: transparent !important;
  color: #893ECB !important;
  font-weight: bold;
}

.dropdown-toggle::after {
  content: "";
  border-top: .45em solid #ffffff !important;
  border-right: .35em solid transparent !important;
  border-left: .35em solid transparent !important;
  transition: border-top-color .25s ease;
}

.dropdown-toggle:hover::after,
.dropdown.show .dropdown-toggle::after,
.dropdown-toggle.active::after {
  border-top-color: #893ECB !important;
}

.nav-actions {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-left: 40px;
}

.nav-actions a {
  color: #fff;
  text-decoration: none;
  font-size: 16px;
}

.btn-custom {
  background: #4b0082;
  padding: 6px 14px;
  border-radius: 20px;
  transition: 0.3s ease;
  text-decoration: none;
  font-weight: bold;
}

.btn-custom:hover {
  background: #6a0dad;
}

.link-criar {
  color: #c88cff;
  text-decoration: none;
}

.link-criar:hover {
  text-decoration: underline;
}

.dropdown-divider {
  border-color: #dcdcdc !important;
}

.btn-menu {
  background: #4b0082;
  padding: 6px 14px;
  border-radius: 20px;
  transition: 0.3s ease;
  text-decoration: none;
  font-weight: bold;
  color: #fff;
}

.btn-menu:hover {
  background: #6a0dad;
  color: #fff;
}

.foto-perfil {
  width: 38px;
  height: 38px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid rgba(255, 255, 255, 0.4);
  transition: 0.2s;
}

.foto-perfil:hover {
  transform: scale(1.05);
}



.footer {
  background: linear-gradient(90deg, #53017F, #53017F, #893ECB);
  color: white;
  text-align: center;
  padding: 30px 10px;
  font-family: Arial, sans-serif;
  border-top-right-radius: 8px;
}

.footer .social-icons {
  margin-bottom: 10px;
}

.footer .social-icons a {
  color: white;
  font-size: 30px;
  margin: 0 10px;
  display: inline-block;
  transition: transform 0.2s ease, color 0.2s ease;
}

.footer .social-icons a:hover {
  transform: scale(1.2);
  color: #430944;
}

.footer p {
  font-size: 0.9rem;
  margin: 0;
}

/*@media (max-width: 1500px) {
  .navbar-expand-lg .navbar-collapse {
    display: none !important;
  }

  .navbar-expand-lg .navbar-toggler {
    display: block !important;
  }
}

@media (min-width: 1501px) {
  .navbar-expand-lg .navbar-collapse {
    display: flex !important;
    align-items: center;
  }

  .navbar-expand-lg .navbar-toggler {
    display: none !important;
  }
}*/