@import url('https://fonts.googleapis.com/css2?family=Caprasimo&family=Domine:wght@400..700&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.12.1/font/bootstrap-icons.min.css");

html,
body {
  background: #000;
  color: #fff;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  border-bottom: 2px solid #53017F;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.navbar .logo {
  font-size: 2rem !important;
  font-weight: bold;
  font-family: 'Segoe UI', cursive;
  background: linear-gradient(90deg, #53017F, #893ECB);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.main-nav {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 25px;
  margin-left: auto;
}

.main-nav li a {
  color: #fff;
  text-decoration: none;
  font-size: 16px;
  position: relative;
  transition: color 0.3s ease;
}

.main-nav li a::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 0%;
  height: 2px;
  background: #fff;
  transition: width 0.3s ease;
}

.main-nav li a:hover::after {
  width: 100%;
}

.main-nav li a.active::after {
  width: 100%;
}

.nav-actions {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-left: 40px;
}

.nav-actions a {
  color: #fff;
  text-decoration: none;
  font-size: 16px;
  position: relative;
}

.nav-actions a:hover::after {
  width: 100%;
}

.btn-custom {
  background: #4b0082;
  padding: 6px 14px;
  border-radius: 20px;
  transition: 0.3s ease;
  text-decoration: none;
  position: static;
  font-weight: bold;
  margin-left: 15px;
}

.btn-custom:hover {
  background: #6a0dad;
}

.footer {
  background: linear-gradient(90deg, #53017F, #53017F, #893ECB);
  color: white;
  text-align: center;
  padding: 30px 10px;
  font-family: Arial, sans-serif;
  border-top-right-radius: 8px;
}

.footer .social-icons {
  margin-bottom: 10px;
}

.footer .social-icons a {
  color: white;
  font-size: 30px;
  margin: 0 10px;
  display: inline-block;
  transition: transform 0.2s ease, color 0.2s ease;
}

.footer .social-icons a:hover {
  transform: scale(1.2);
  color: #430944;
}

.footer p {
  font-size: 0.9rem;
  margin: 0;
}

