@import url('base.css');
@import url('https://cdn.jsdelivr.net/npm/bootstrap-icons@1.12.1/font/bootstrap-icons.min.css');
@import url('https://fonts.googleapis.com/css2?family=Stack+Sans+Notch&family=Roboto&display=swap');

/*Home*/
.secao-inicial {
    width: 100%;
    min-height: 75vh;
    position: relative;
}

.secao-inicial::before,
.secao-inicial::after {
    content: "";
    position: absolute;
    width: 420px;
    height: 420px;
    border-radius: 50%;
    filter: blur(80px);
    opacity: 1;
    mix-blend-mode: screen;
    z-index: 0;
}

.secao-inicial::before {
    top: 50%;
    left: -230px;
    transform: translateY(-50%);
    background: radial-gradient(circle,
            rgb(127, 83, 168) 0%,
            rgba(90, 41, 137, 0.9) 25%,
            rgba(133, 50, 210, 0.6) 45%,
            transparent 70%);
    box-shadow: 0 0 60px 40px rgba(147, 51, 234, 0.3);
}

.secao-inicial::after {
    top: 35%;
    right: -100px;
    transform: translateY(-50%);
    background: radial-gradient(circle,
            rgb(179, 111, 208) 0%,
            rgba(90, 41, 137, 0.9) 25%,
            rgba(133, 51, 234, 0.6) 45%,
            transparent 75%);
    box-shadow: 0 0 80px 50px rgba(192, 132, 252, 0.4);
}

.secao-inicial .container {
    position: relative;
    z-index: 1;
}

.titulo-principal {
    font-family: "Stack Sans Notch", sans-serif;
    font-size: 57px;
    font-weight: 900px;
    margin-left: -45px;
    color: #fff;
    font-weight: bold;
    line-height: 1.3;
}

.roxo {
    color: #935cd6;
}

.subtitulo {
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    margin-top: 1rem;
    margin-left: -45px;
    color: #b0b0b0;
}

.secao-inicial img {
    margin-top: -50px;
    max-width: 700px;
}

.pilares {
    background: linear-gradient(90deg, #683990 19%, #251435 100%);
    padding: 5rem 0;
    width: 99vw;
    margin: 0;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    box-sizing: border-box;
}

.titulo-pilares {
    font-family: "Trebuchet MS";
    position: relative;
    display: inline-block;
    color: #fff;
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    padding: 0 2rem;
}

.titulo-pilares::before,
.titulo-pilares::after {
    content: "";
    position: absolute;
    top: 50%;
    width: 345px;
    height: 3px;
    background-color: #fff;
    transform: translateY(-50%);
}

.titulo-pilares::before {
    right: 100%;
    margin-right: 20px;
}

.titulo-pilares::after {
    left: 100%;
    margin-left: 20px;
}

.titulo-pilar {
    font-family: "Segoe UI";
    font-size: 20px;
    font-weight: bold;
    color: #9F6ACE;
}

.texto-pilar {
    font-family: "Segoe UI";
    font-size: 18px;
}

.pilares h2 {
    margin-bottom: 4rem;
}

.pillar-card {
    background: #1f1f1f;
    border-radius: 15px;
    padding: 2rem;
    transition: transform 0.3s, box-shadow 0.3s;
    text-align: center;
    width: 90%;
    margin: 0 auto 2rem;
}

.pillar-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 0 20px rgba(156, 126, 255, 0.7);
}

.pillar-card i {
    color: #c69eff;
    font-size: 3rem;
    margin-bottom: 1rem;
    text-shadow:
        0 0 5px #896bb3,
        0 0 10px #a885da,
        0 0 20px #c69eff,
        0 0 40px #b784f4,
        0 0 80px #3d2855;
    transition: transform 0.3s ease, text-shadow 0.3s ease;
}

.pillar-card i:hover {
    transform: scale(1.1);
    text-shadow:
        0 0 10px #aa87d5,
        0 0 20px #d3aaff,
        0 0 40px #c69eff,
        0 0 80px #b784f4,
        0 0 120px #9b5de5;
}

.pillar-card p {
    font-size: 1rem;
    color: #ccc;
}

.titulo-projetosrecentes {
    font-family: "Trebuchet MS";
    position: relative;
    display: inline-block;
    color: #fff;
    font-size: 30px;
    font-weight: 700;
    margin-left: -10px;
}

.titulo-projetosrecentes::after {
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 896px;
    height: 3px;
    background-color: #fff;
    margin-left: 15px;
}

/*Projetos*/
.card {
    width: 355px;
    height: 170px;
    border: none;
    border-radius: 20px;
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    margin: 0 auto;

}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.4);
}

.card img {
    width: 100%;
    height: 220px;
    object-fit: cover;
}

.card-body {
    color: #fff;
    padding: 25px 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.col-md-4:nth-child(odd) .card-body {
    background-color: #491874;
}

.col-md-4:nth-child(even) .card-body {
    background-color: #6E3A9B;
}

.titulo-projeto {
    font-family: "Segoe UI";
    font-size: 20px;
    font-weight: bold;
    color: #9F6ACE;
}

.descricao-projeto {
    font-family: "Segoe UI";
    font-size: 17px;
    text-align: justify;

}

.btn-projeto {
    margin-top: auto;
    background-color: #9a64e4;
    color: #fff;
    font-weight: 600;
    border: none;
    border-radius: 8px;
    padding: 10px 20px;
    transition: transform 0.2s ease, background-color 0.2s ease;
}

.btn-projeto:hover {
    background-color: #b57eff;
    transform: scale(1.05);
}

.row.g-4 {
    justify-content: center;
}

.passos {
    position: relative;
    min-height: 75vh;
    width: 100%;
}

.passos::before,
.passos::after {
    content: "";
    position: absolute;
    width: 420px;
    height: 420px;
    border-radius: 50%;
    filter: blur(80px);
    opacity: 1;
    mix-blend-mode: screen;
    z-index: 0;
}

.passos::before {
    top: 50%;
    left: -300px;

    transform: translateY(-50%);
    background: radial-gradient(circle,
            rgb(82, 51, 111) 0%,
            rgba(90, 41, 137, 0.9) 25%,
            rgba(133, 50, 210, 0.6) 45%,
            transparent 70%);
    box-shadow: 0 0 60px 40px rgba(147, 51, 234, 0.3);
}

.passos::after {
    top: 30%;
    right: -90px;
    width: 100px;
    transform: translateY(-50%);
    background: radial-gradient(circle,
            rgb(80, 46, 94) 0%,
            rgba(90, 41, 137, 0.9) 25%,
            rgba(133, 51, 234, 0.6) 45%,
            transparent 75%);
    box-shadow: 0 0 80px 50px rgba(192, 132, 252, 0.4);
}

.passos h2 {
    font-size: 35px;
    font-weight: 700;
    color: #9F6ACE;
}

.passos ol {
    list-style: decimal;
    padding-left: 1.5rem;
    font-size: 1.1rem;
    color: #fff;
    line-height: 1.8;
}

.passos li {
    font-size: 21px;
    margin-bottom: 0.6rem;
    transition: transform 0.3s ease, text-shadow 0.3s ease;
}

.passos img {
    max-width: 600px;
}

/*Projetos*/

.titulo-pagprojetos {
    font-family: "Trebuchet MS";
    color: #fff;
    font-size: 40px;
    font-weight: 700;
}

.filtros-projetos {
 display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 15px;
  margin-left: 30px; 
}

.form-select {
  width: 260px;
}

/*Trilha*/
.timeline {
    position: relative;
    max-width: 700px;
    margin: 0 auto;
    padding: 20px 0;
}

.linha-central {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 4px;
    height: 100%;
    background: linear-gradient(to bottom, #c6aae0, #a98ac2);
    border-radius: 2px;
    z-index: 0;
}

.timeline-item {
    position: relative;
    margin-bottom: 60px;
    min-height: 120px;
    z-index: 1;
}

.timeline-texto {
    padding: 25px;
}

.bolinha {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30px;
    height: 30px;
    background: #a855f7;
    border-radius: 50%;
    cursor: pointer;
    z-index: 2;
    transition: all 0.3s ease;
    box-shadow: 0 0 20px rgba(168, 85, 247, 0.8);
}

.bolinha:hover {
    transform: translate(-50%, -50%) scale(1.2);
    box-shadow: 0 0 15px rgba(168, 85, 247, 0.7);
}

.bolinha::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50px;
    height: 50px;
    border: 2px solid #a855f7;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 0 15px rgba(168, 85, 247, 0.6);
    z-index: 1;
}

.linha-central {
    width: 6px;
    background: linear-gradient(to bottom, #c084fc, #7e22ce);
    box-shadow: 0 0 12px rgba(192, 132, 252, 0.5);
}


.nav-tabs .nav-link.active {
    background-color: #7c3aed;
    color: white !important;
    font-weight: 500;
}

.nav-tabs .nav-link {
    color: #7c3aed;
    border-radius: 0.25rem 0.25rem 0 0;
}


.btn-outline-purple {
    color: #7c3aed;
    border: 1px solid #7c3aed;
}

.btn-outline-purple:hover {
    background-color: #7c3aed;
    color: white;
}

.text-purple {
    color: #7c3aed;
}

@media (max-width: 768px) {
    .timeline-item {
        margin-bottom: 40px;
    }

    .bolinha {
        width: 25px;
        height: 25px;
    }
}

@media (max-width: 992px) {
    .titulo-principal {
        font-size: 2rem;
    }

    .pillar-card {
        padding: 1.5rem;
    }
}